$mobile-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$hamburger-breakpoint: 900px;

.carouselImgWrapper {
  padding-top: 15px;
  .carouselImg {
    width: 341px;
    height: 192px;
    object-fit: cover;
    margin-right: 7px;
    @media screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
  .carouselImgMobile {
    display: none;
    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
      width: 130px;
      height: 187px; 
      object-fit: cover;
      margin-right: 7px;
    }
  }
}