@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}


.wrapper {
  min-height: 100vh;
  background-color: #000;
  .heroImg {
    background-size: cover;
    padding: 160px 80px 120px;
    min-height: 85vh;
    color: #fff;
    display: block;
  }
}
